/* Define estilos para o elemento <body> do documento HTML */
body {
    /* Define a cor do texto como branco */
    color: rgb(255, 255, 255);
    
    /* Define a cor de fundo da página como preto */
    background: black;
    
    /* Remove todas as margens externas do body */
    margin: 10px;
    
    /* Define a fonte do texto como "Chakra Petch" e sans-serif como fallback */
    font-family: "Chakra Petch", sans-serif;
    
    /* Adiciona uma margem inferior de 100 pixels */
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(184, 156, 213);
    padding: 20px;
    font-size: 32px;
    color: rgb(37, 62, 202)
}

.chamada {
    /* Define a cor de fundo como um tom roxo claro */
    background: rgb(184, 156, 213);
    
    /* Adiciona 80 pixels de espaço em cima e embaixo */
    padding-bottom: 80px;
    padding-top: 80px;
    
    /* Exibe os elementos de forma flexível e centraliza o conteúdo */
    display: flex;
    justify-content: center;
}
.chamada-texto {
    /* Adiciona um espaço de 5% à direita do texto */
    margin-right: 5%;
}
h1 {
    /* Define o tamanho da fonte do título (h1) como 40 pixels */
    font-size: 40px;
}

p {
    /* Define o tamanho da fonte do parágrafo (p) como 20 pixels */
    font-size: 20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid green;
}

.categoria h2 {
    color: rgb(33, 81, 212)
}
